.header-container {
  background: #ffffff;
  padding: 20px 22px 20px 20px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .other-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 3;
}
.header-container .mobile-heading {
  display: none;
}

.header-container .title {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 1px;
  color: #171717;
  flex: 3.5;
  margin: 0;
}

.header-container input {
  height: 40px;
  background: #fafafa;
  border-radius: 6px;
  border-style: none;
  padding-left: 1.8rem;
  width: 100%;
}
.header-container .other-items .input {
  position: relative;
  width: 50%;
}

.header-container .other-items .input svg {
  position: absolute;
  top: 30%;
  left: 5%;
}
.header-container .other-items .input .en {
  margin: 0;
}
.header-container .other-items .third {
  border-radius: 50px;
}

@media (max-width: 768px) {
  .header-container {
    align-items: normal !important;
    flex-direction: column;
  }
  .header-container > .title {
    display: none;
  }
  .header-container .mobile-heading {
    display: flex;
    align-items: center;
  }
}
