* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.App {
  background: #fafafa;
}

.container {
  display: flex;
}

.sidebar {
  flex: 1;
  height: 100vh;
}
.main-content {
  flex: 5;
}

.btn-toggle {
  display: none;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 39px;
  padding: 0px 22px 0px 20px;
  gap: 20px;
}

.hero-container .item {
  flex: 1;
  display: flex;
  align-items: flex-start;
  background: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 16px 0 17px 15px;
  gap: 9px;
}

.hero-container .item img {
  flex: 1;
  width: 40px;
}
.hero-container .item > div {
  flex: 3;
}

.hero-container .item > div .value {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: #171717;
}

.hero-container .item > div .status {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #aaaaaa;
}
.hero-container .item .last {
  margin-top: 18px;
}
.hero-container .item .last img {
  width: 14.67px;
}

.hero-container .item .last .index {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.hero-container .item .last .time {
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
}
